*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ITC Officina Sans Std Book';
  }
  a{
    text-decoration: none;
  }
     /*------------------------------------header section----------------------------------------*/
      header{
      	height:8vh;
        width: 100%;
      }
      .navbar{
        background: #2ECAB6;
        padding: 5px 50px;
        height:8.1vh;
      }
    .logo{
      padding-top: 5px;
    }
      .logo a{
      	text-decoration: none;
      	font-size: 20px;
      	color: #fff;
      	font-weight: bold;

      }
      .logo p{
        font-size: 16px; 
        margin-top: -10px;
        color: white;
        font-weight: 200;
      }
      .menu ul{
      display: flex;
      list-style: none;
       } 
       .menu ul li a{
        color: white;
        font-size: 20px;
       }

      .text{
        display: none;
       } 
       .mobview{
        display: none;
       }
 @media (max-width: 600px){
  .navbar{
        padding: 5px 25px; 
      }
       .text{
        display: block;
        color:white;
       }
       .menu{
        display: none;
       } 
       .mobview{
        display: block;
        background: #f1f3f6;
        width: 100%;   
       }
    .myaccount{  
        width: 100%;
        color: white;
        text-align: center; 
        background: #2ECAB6;
        height: 24vh;

      }
      .myaccount h4{
      	padding-top: 7px;
        font-size: 23px;
      }
      .fa-user-circle{
        padding-top: 25px;
        font-size: 80px;
      }
      
      .card p{
        float: right;
        margin-bottom: 0px !important;
        font-size: 18px;
      }
      .card{
        margin: 10px -5px; ;
      }
      .card-body{
        padding: 15px;
      }
      .fa-home,.fa-calendar-check,.fa-clock,.fa-check,.fa-credit-card{
         color: #2ECAB6; 
         margin-right: 10px;
      }
      hr{
        margin: 15px 5px;
      }
/*-------------------------------------logout section----------------------------------------*/
		.logout_section {
		  background-color: #2ECAB6;
		  height: 8vh; 
		}
		.logout_section button {
		  background-color: transparent;
		  border: 1px solid #fff;
		  color: #fff;
		  padding: 5px 25px;
		  position: relative;
		  top:50%;
		  left: 50%;
		  transform: translate(-50%, -50%); 
		  font-size: 18px;
		}
		.logout_section button:hover::after {
		  transform: scaleX(1);
		}
		.logout_section button::after {
		  content: "";
		  background-image: linear-gradient(to left,#db3721,#e81313,#fbfc45);
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  top: 0;
		  left: 0;
		  z-index: -1;
		  transform: scaleX(0);
		  transform-origin: 0 0;
		  transition: 0.5s;
		}
    .deskview{
      display: none;
      }

    }
    /*---------------------------desktop view-------------------------*/
    .deskview{
      background: #f1f3f6;
      height: 100vh;
    }
    .box{
      background: #fff;
      margin: 2px 0px;
    }
    ul{
      list-style: none;
    }
    .upper{
      display: flex;
      justify-content: space-between;
    }